table,th,td{
    border: 1px solid;
    border-color: rgb(214, 214, 224);
    font-size: 15px;
    border-collapse: collapse;

}

th{
background-color: rgb(171, 171, 228);
padding: 20px;
color: aliceblue;
}

td{
    padding: 10px;

}

div{

    width: 70%;
    margin: auto;
    border: 1px;
    border-top: 1px;
}

button{
    padding: 5px;
}

tr:hover{
    background-color: gray;
}